RewriteEngine On
Options -Indexes

ErrorDocument 403 http://nutrifitplanner.site/views/Error403/Error403.php
ErrorDocument 404 http://nutrifitplanner.site/views/Error404/Error404.php


RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule . index.php [L]
